{% extends "base.html" %}
{% load bootstrap %}
{% load static %}
{% block title %}Reset your password{% endblock %}
{% block content %}
<div class="mx-auto mt-5" style="width: 400px;">
    <h3>Forgotten your password?</h3>
    <p>Enter your e-mail address to obtain a new password.</p>
    <form class="form-label-group" action="." method="post">
        {{ form|bootstrap }}
        <p><input class="btn btn-primary" placeholder="Email" type="submit" value="Send an e-mail" style="display: block;width :100%;"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}