{% extends 'base.html' %}
{% load bootstrap %}
{% block title %}
UserBooks
{% endblock %}

{% block jquery %}
<script>
        let infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });

</script>
<script>$(document).ready(function () {
        $('.МоиКниги').addClass('active');
    });
</script>
{% endblock %}

{% block content %}
<div class="container infinite-container">
    {% for book in users_books %}
    <div class="infinite-item"
         style="display: flex;align-items: center;justify-content: center;margin-bottom: 1rem!important;margin-top: 1rem;">
        <div class="card text-center" style="width: 20rem;">
            <img src="{{book.photo.url}}" class="card-img-top" alt="">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{{book.get_absolute_url}}">{{ book.title }}</a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">{{book.author}}</h6>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="loading" style="text-align: center;display: none;">
        Loading...
    </div>
    {% if page_obj.has_next %}
        <a class="infinite-more-link d-none" href="?page={{ page_obj.next_page_number }}">More</a>
    {% endif %}
{% endblock %}