{% extends "base.html" %}
{% load bootstrap %}
{% block title %}Edit{% endblock %}
{% block content %}
<div class="mx-auto mt-5" style="width: 300px">
    <h3 class="text-center">Вы можете изменить свой профиль здесь</h3>
    <form action="." method="post" enctype="multipart/form-data">
        {{ user_form|bootstrap }}
        {{ profile_form|bootstrap }}
        {% csrf_token %}
        <p>Вы можете изменить свой пароль <a href="{% url 'password_change' %}">здесь</a></p>
        <p><input class="btn btn-primary" type="submit" value="Сохранить" style="display: block;width :100%;"></p>
    </form>
</div>
{% endblock %}
